// Define variables for your color scheme

// For example:
$red: #ff8688;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: rgb(255, 241, 240);
$greypink: #F5ECEC9C;
$background: rgb(252, 239, 211);
$yellow: hsl(39, 100%, 91%);
$purple: hsl(260, 66%, 27%);
$dark-yellow: hsl(39, 58%, 77%);
$darker-yellow: hsl(40, 37%, 68%);
$dark-purple: hsl(260, 66%, 17%);
$darker-purple: hsl(260, 66%, 12%);
$light-yellow: hsl(39, 100%, 95%);
$light-purple: hsl(260, 100%, 85%);
