// Specific CSS for your home-page

.home {
  width: 100%;
  display: grid;
  grid-gap: 20px; /*esto anade un poco de espacio entre el baner y el siguiente titulo*/
  background-color: #f4ead3;
}

.banner {
  display: flex;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-image: url('banner_2.png');
  padding: 20px;
}

.logo {
  width: 160px;
  align-self: flex-start;
}

.banner h1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-top: 160px;
}

.banner-title {
  position: absolute;
  margin-top: 25px;
  color: white;
  font-size: calc(1.5rem + 1.5vw);
}

.btn {
  margin-top: 40px;
  margin-bottom: 40px;
}

.body {
  text-align: center;
  margin-top: 25px;
}

p {
  font-size: 18px;
}

.home + .footer {
  display: none;
}

.btn {
  display: inline-block;
  background-color: #210062;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.btn:hover {
  background-color: #F9E2AF;
}

.background-container {
  background-color: #210062;
  color: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

h1, h2 {
  font-weight: bold;
}

.body-container {
  text-align: center;
}

#arrow {
  padding: 0;
  margin: 0;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
}
