<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('banner_3.png'); background-size: cover;">
  <div class="container">
    <h1>Convierte lo que tienes en lo que deseas</h1>
  </div>
</div>
