<div class="footer mt-4">
  <div class="footer-copyright">
   <p>© 2024 <em>Loop</em></p>
   <a href="#">Terms of Use -</a>
   <a href="#">Privacy</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
