<div class='m-5 p-5 text-center'>
  <div class='border-purple p-5'>
    <%= image_tag "Loop.png", class: "mb-3", style: "max-width: 200px;" %>
    <div class='mt-5'><%= raw app_qr_code_url %></div>
  </div>
</div>
