<div class="row justify-content-center">
    <%= form_with url: items_path, method: :get, class: "d-flex form-inline px-0" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control rounded",
            placeholder: "Buscar"
        %>
        <%= text_field_tag :location,
            params[:location],
            class: "form-control rounded desktop-only",
            placeholder: "Ubicación"
        %>
        <button type="submit" class="btn border-0 m-0 flex-shrink-1" title="Search">
          <i class="fas fa-search"></i>
        </button>
    <% end %>
  </div>
