<div class='home'>
<div class="banner" style="">
    <%# image_tag("banner.png", class: "banner-img") %>
    <h1 class="banner-title">Convierte lo que tienes en lo que deseas</h1>
</div>
  <div class="body">
    <h1 class="subtitle">Únete ahora y comienza a hacer trueques de una manera innovadora</h1>
    <a href="/items" class="btn">Comienza aquí</a>
    <h1 class="body-title">¿Qué te gustaría intercambiar hoy?</h1>
    <p> Objetos únicos: Desde antigüedades hasta gadgets de última generación </p>
    <p> Talentos y habilidades: Programación, diseño, cocina, ¡tú decides! </p>
    <p> Experiencias únicas: Alojamiento, clases, actividades recreativas y más.</p>
  </div>

  <div class="background-container">
    <h1 class="body-subtitle">¿Cómo funciona?</h1>
    <p>Regístrate: Únete a nuestra comunidad en segundos, ¡es gratis!</p>
    <p>Publica tus ofertas: Muestra lo que puedes ofrecer al mundo</p>
    <p>Explora y propón intercambios: Encuentra lo   que deseas y haz ofertas creativas</P>
    <p>Realiza trueques: Cuando ambas partes estén  de acuerdo, ¡el trueque se hace realidad!</p>
  </div>

  <div class="body-container">
    <h1>¿Por qué unirte a nosotros?</h1>
    <p>Libertad para intercambiar: Desde bienes hasta servicios, ¡todo es posible!</p>
    <p>Sin comisiones: Cero tarifas por tus intercambios</p>
    <p>Comunidad inclusiva: Conéctate con personas de ideas afines y descubre nuevas oportunidades</p>
    <a href="/users/sign_up" class="btn">Regístrate aquí</a>
  </div>

</div>
