<!DOCTYPE html>
<html lang="es">

  <head>
    <meta property="og:image" content="app/images/Loop.png">
    <meta property="og:title" content="Loop">
    <meta property="og:description" content="Plataforma de intercambio de bienes y servicios">
  </head>

<div class='home'>
  <div class="banner" style="">
      <h1 class="banner-title">Convierte lo que tienes en lo que deseas</h1>
  </div>

  <div class="body">
    <h2 class="subtitle">Únete ahora y comienza a hacer trueques de una manera sostenible</h2>
    <a href="/items" class="btn">Comienza aquí</a>
    <h2 class="body-title">¿Qué te gustaría intercambiar hoy?</h2>
    <p><strong>Objetos únicos:</strong> Desde antigüedades hasta gadgets de última generación. </p>
    <p><strong>Talentos y habilidades:</strong> Programación, diseño, cocina, ¡tú decides! </p>
    <p><strong>Experiencias únicas:</strong> Alojamiento, clases, actividades recreativas y más.</p>
  </div>

  <div class="background-container">
    <h2 class="body-subtitle">¿Cómo funciona?</h2>
    <p><strong>Regístrate:</strong> Únete a nuestra comunidad en segundos, ¡es gratis!</p>
    <p><strong>Publica tus ofertas:</strong> Muestra lo que puedes ofrecer al mundo.</p>
    <p><strong>Explora y propón intercambios:</strong> Encuentra lo   que deseas y haz ofertas creativas.</P>
    <p><strong>Realiza trueques:</strong> Cuando ambas partes estén  de acuerdo, ¡el trueque se hace realidad!</p>
  </div>

  <div class="body-container">
    <h2>¿Por qué unirte a Loop?</h2>
    <p><strong>Libertad para intercambiar:</strong> Desde bienes hasta servicios, ¡todo es posible!</p>
    <p><strong>Sin comisiones:</strong> Cero tarifas por tus intercambios</p>
    <p><strong>Sostenibilidad:</strong> <span style="color: #007E7B; font-weight: bold;">Reducir, reusar y reciclar</span> es parte de nuestra filosofía.</p>
    <p><strong>Comunidad inclusiva:</strong> Conéctate con personas de ideas afines y descubre nuevas oportunidades.</p>
    <a href="/users/sign_up" class="btn">Regístrate aquí</a>
  </div>
</div>
