<div class="banner">
  <%= image_tag("banner.png", class: "banner-img") %>
  <h1 class="banner-title">Convierte lo que tienes en lo que deseas</h1>
  <h2 class="subtitle">Únete ahora y comienza a hacer trueques de una manera innovadora</h2>
</div>



