<h1>Términos de Uso de Loop</h1>
<p><strong>Última actualización: cinco de abril de 2024</strong></p>

<p>Bienvenido a Loop, una plataforma de trueque en línea que conecta a usuarios interesados en intercambiar productos y servicios. Por favor, lee detenidamente los siguientes términos y condiciones antes de utilizar nuestros servicios.</p>

<p><strong>Estos términos y condiciones constituyen un acuerdo legal entre usted y Loop. Al utilizar nuestros servicios, usted acepta estar sujeto a estos términos y condiciones. Si no está de acuerdo con alguno de estos términos, no utilice la plataforma Loop.</strong></p>

<p><strong>1) Registro y Uso de la Plataforma:</strong> Los usuarios deben registrarse en la plataforma proporcionando información precisa y actualizada. Cada usuario es responsable de la seguridad de su cuenta y contraseña, y se compromete a no compartirla con terceros.</p>

<p><strong>2) Capacidad Legal:</strong> Solo las personas mayores de edad con capacidad legal para contratar pueden usar los servicios de Loop. Los menores de edad pueden utilizar la plataforma con la autorización de su representante legal.</p>

<p><strong>3) Privacidad de Datos:</strong> Loop se compromete a proteger la privacidad de los datos personales de los usuarios y a tomar medidas para garantizar la seguridad de la información en la plataforma. Puede consultar o pedir cualquier cosa relativa a protección de datos en loop.aplicacion@gmail.com.</p>

<p><strong>4) Responsabilidad:</strong> Loop no asume responsabilidad por cualquier defecto en la prestación de sus servicios. Los usuarios utilizan la plataforma bajo su propio riesgo.</p>

<p><strong>5) Tarifas:</strong> Por el momento, Loop es gratuita. Cualquier cambio en las tarifas se notificará con al menos 30 días de antelación.</p>

<p><strong>6) Productos y Servicios Prohibidos:</strong></p>

<ul>
  <li><strong>Productos y Servicios Ilícitos:</strong> Queda estrictamente prohibida la oferta, intercambio o solicitud de cualquier producto o servicio que sea ilegal según las leyes del país donde se utilice la aplicación Loop. Esto incluye, pero no se limita a, la venta, intercambio o promoción de drogas ilegales, armas de fuego, productos robados, documentos falsificados o cualquier otro artículo que esté prohibido por la ley.</li>
  <li><strong>Prostitución y Tráfico de Personas:</strong> Queda terminantemente prohibida la oferta, solicitud o participación en cualquier actividad relacionada con la prostitución, el tráfico de personas o cualquier forma de explotación sexual.</li>
  <li><strong>Productos Peligrosos o Dañinos:</strong> Se prohíbe la oferta, intercambio o solicitud de productos que representen un peligro para la seguridad pública o la salud, incluidos, entre otros, explosivos, sustancias tóxicas, productos médicos sin autorización, alimentos no seguros o productos químicos peligrosos.</li>
  <li><strong>Contenido Ofensivo o Inapropiado:</strong> No se permitirá la oferta, intercambio o solicitud de productos o servicios que promuevan la discriminación, el odio, la violencia, el acoso o cualquier otro contenido que pueda considerarse ofensivo o inapropiado.</li>
  <li><strong>Otros Productos y Servicios Prohibidos:</strong> Loop se reserva el derecho de prohibir cualquier producto o servicio que considere inapropiado, perjudicial o contrario a sus políticas y valores.</li>
</ul>

<p><strong>7) Propiedad Intelectual:</strong> Loop es propietario de todos los derechos de propiedad intelectual sobre su plataforma y contenido. Se prohíbe el uso no autorizado de la propiedad intelectual de Loop.</p>

<p><strong>8) Indemnidad:</strong> Los usuarios mantendrán indemne a Loop y sus afiliados de cualquier reclamo relacionado con sus actividades en la plataforma.</p>

<p><strong>9) Jurisdicción y Ley Aplicable:</strong> Los presentes términos y condiciones se rigen por la ley argentina. Cualquier disputa relacionada con estos términos y condiciones será resuelta por los tribunales de la Ciudad Autónoma de Buenos Aires, Argentina.</p>

<p>Es importante revisar y aceptar estos términos y condiciones antes de utilizar los servicios de Loop.</p>
