<%= render 'dealstatus', deal: deal %>
<div class='in-block'>
  <%= link_to 'Coordinar Entrega', class: 'btn btn-info' %>
  <%= render 'complete', deal: deal %>
  <%= render 'cancel', deal: deal %>
</div>
