<h4 class='text-center my-2'><strong>Pendientes</strong></h4>
<div class='border bg-background my-2'>
  <% @accepted_deals.each do |deal| %>
    <%= render 'dealstatus', deal: deal %>
    <div class='d-flex'>
      <%# agregar link para crear un chatroom %>
      <%= link_to 'Coordinar Entrega', class: 'btn btn-info' %>
      <%= render 'complete', deal: deal %>
      <%= render 'cancel', deal: deal %>
    </div>
  <% end %>
</div>
