      <%= simple_form_for(deal, url: cancel_deal_path(deal), method: :patch) do |f| %>
        <div class="text-center">
          <%= f.button :submit, "Cancelar Trueque", class: 'btn btn-danger my-2' %>
        </div>
      <% end %>
