<h4 class='text-center my-2'><strong>Cancelados</strong></h4>
<div class='border bg-background my-2'>
  <% @canceled_deals.each do |deal| %>
    <%= render 'dealstatus', deal: deal %>
  <% end %>
</div>
