<h4 class='text-center my-2'><strong>Cancelados (<%= canceled_deals.count %>) <i class="fa-solid fa-circle-chevron-down"></i></strong></h4>
<div class='border bg-background my-2'>
  <% @canceled_deals.each do |deal| %>
    <%= render 'dealstatus', deal: deal %>
  <% end %>
</div>
