<h4 class='text-center my-2'><strong>Finalizados (<%= @completed_deals.count %>) <i class="fa-solid fa-circle-chevron-up" data-action='click->display-deals#completed' data-display-deals-target='chevroncompleted'></i></strong></h4>
<div class='border bg-background my-2 d-none' data-display-deals-target='completeddeal'>
  <% @completed_deals.each do |deal| %>
    <%= render 'dealstatus', deal: deal %>
    <%= render 'review', deal: deal, review: @review %>
  <% end %>
</div>
