<div class='d-flex justify-content-around border bg-background my-3'>
   <div>
    <p><%= deal.user_offerer.email %><strong> ofrece: </strong></p>
    <%= deal.offered_item.name%>
  </div>
  <div>
    <p><%= deal.user_requested.email %> <strong> ofrece: </strong></p>
    <%= deal.requested_item.name%>
  </div>

</div>
