<button id="show-review-form" data-action='click->toggle-review#showreview'>Deja una rese침a</button>
<div class="col-md-6 review-form-container d-none" data-toggle-review-target='review'>
  <%= simple_form_for(@review, url: deal_reviews_path(deal), method: :patch) do |f| %>
    <%= f.input :content, as: :text, label: false, placeholder: 'Contenido de la rese침a' %>
    <%= f.input :rating, as: :select, collection: 1..5, label: false, prompt: 'Calificaci칩n' %>
    <div class="text-center">
      <%= f.button :submit, "Enviar rese침a", class: 'btn btn-outline-danger my-2' %>
    </div>
    <% end %>
</div>
