<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6" data-controller="toggle-user-reviews">
      <div class="text-center mb-3">
        <button class="btn btn-info p-3" data-action="click->toggle-user-reviews#showreviews">
          Reseñas de <%= reviewed_user.email %>:
        </button>
      </div>
      <div class="col-12 col-md-6 bg-pink border m-3 d-none" data-toggle-user-reviews-target="reviews">
        <% reviews.each do |review| %>
          <div class="card bg-pink mb-3">
            <p><%= review.user_reviewer.email %> dijo:</p>
            <p>Rating: <%= review.rating %> <i class="fa-solid fa-star"></i></p>
            <p>Comentario: <%= review.content %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
