
<div class='d-flex justify-content-center' data-controller="toggle-user-reviews">
  <div class='' data-action='click->toggle-user-reviews#showreviews'><button class='btn btn-info p-3'>Reseñas de <%= reviewed_user.email %>: </button></div>
  <div class="col-6 col-md-4 m-3 d-none" data-toggle-user-reviews-target='reviews'>
      <% reviews.each do |review| %>
        <div class='card bg-pink p-2 m-2'>
          <p><%= review.user_reviewer.email %> dijo: </p>
          <p>Rating: <%= review.rating %> <i class="fa-solid fa-star"></i></p>
          <p>Comentario: <%= review.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
