<span class="text-end">
        <%= form_with model: chatroom, method: :post do |f| %>
          <%= f.hidden_field :user_id, value: user[0].id%>
          <%= f.button :submit, class: 'border-0 text-secondary bg-transparent' do %>
            <%= f.button "Enviar Mensaje", class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </span>
