<div class="mobile-only w-75 m-auto">
  <%= render 'shared/search'%>
</div>
<%= render 'items/recommendations', user_recommendations: @user_recommendations if @user_recommendations %>
<br>
<br>
<br>
<%= render 'items/preferences', user_prefered_items: @user_prefered_items if @user_prefered_items %>
<br>
<br>
<br>
<div class='container'>
  <h3>Ofertas</h3>
  <% if @items.empty? %>
    <p>No hay resultados</p>
  <% else %>
    <%= render "card", items: @items %>
  <% end %>
</div>
