<div class='container mt-3'>
  <h1>Mis Productos</h1>
  <%= link_to "Agregar Producto", new_item_path, class: "btn btn-primary-dark border-primary-darker"%>
</div>
<% if @items.empty? %>
  <p>No hay resultados</p>
<% else %>
  <%= render "card", items: @items %>
<% end %>
