.mobile-only.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  a {
    text-decoration: none;
    opacity: 0.8;
    &{
      transition: all 0.2s;
    }
  }
}

.desktop-only.footer {
  height: $footer-height;
  width: 100%;
  background-color: #414141b3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgb(78, 180, 184);

  a {
    text-decoration: none;
    color: rgb(39, 158, 162);
  }
}

.desktop-only.footer-copyright {
  display: flex;
  align-items: center;
  color: rgb(78, 180, 184);
}

.desktop-only.footer-copyright p {
  margin: 0;
  margin-right: 10px;
}

.desktop-only.footer-copyright a {
  margin-right: 10px;
}

.desktop-only.footer-copyright a:hover {
  color: rgb(78, 180, 184);
}

.desktop-only.footer-links {
  display: flex;
  align-items: center;
  color: rgb(78, 180, 184);
}
.desktop-only.footer-links a {
  color: rgb(40, 154, 158);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.desktop-only.footer-links a:hover {
  opacity: 1;
}
