// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



@media (max-width: 767px) {
  .desktop-only{
    display: none !important;
  }
  body {
    margin-bottom: $footer-height;
  }
  .all-cards {
    justify-content:center;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none !important;
  }
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


p {
  margin: 0
}

.footer-links {
  a {
    &:hover {
      i {
        color: #3bc4ff;
      }
    }
  }
}

.height-screen{
  height: calc(100vh - $footer-height - $nav-height);
}


.font-size-24 {
  font-size: 24px;
}

.font-size-18 {
  font-size: 18px;
}
.font-size-14 {
  font-size: 14px;
}

.custom-background {
  background-color: #ffffff;
}

body {
  min-height: 100vh;
  background-color: #f0f0f0 !important;
  overflow-x: hidden;
}

.btn:hover {
  background-color: #a4ffed !important;
  transform: scale(1.05);
  transition: 0.5s ease;
}

.btn:hover.btn-danger {
  background-color: #ff5b5b !important;
  transform: scale(1.05);
  transition: 0.5s ease;
}

.deal-card{
  width: 330px;
  min-width: 0;
  text-overflow: ellipsis;
}

.btn {
  box-shadow: 0 0 0 0.2rem rgba(143, 143, 144, 0.25) !important;
}


.form-check-label {
  color: black;
}
